.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.main_contents {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
}

.side_bar_header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_bar_content {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.main_header {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0px;
  overflow: scroll;
}

.form {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.header_name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.room_creation a {
  padding: 14px;
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.chat_room {
  padding: 20px 0 40px;
}

.room_name a {
  color: white;
  text-decoration: none;
}

.header_room_name {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.chat_end_button {
  margin-top: 40px;
}

.chat_end_button a {
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
  text-decoration: none;
}

.message {
  margin-bottom: 40px;
}

.upper_message {
  margin: 10px 0;
  display: flex;
}

.message_username {
  margin-right: 10px;
  color: #434a54;
  font-size: 16px;
}

.message_date {
  font-size: 12px;
  color: #999;
}

.message_text {
  font-size: 14px;
  color: #434A54;
}

.form_input {
  width: 100%;
  background-color: white;
  display: flex;
}

.form_message {
  padding-left: 10px;
  border: none;
  height:50px;
  color: #dddddd;
  width: 100%;
}

.form_submit {
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  background-color: #38AEf0;
  border: none;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
